<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" rel="stylesheet" >
    <title>Add the Bastard</title>
</head>
<body>
    <table>
        <tr>
            <td><a href="/index" class="btn btn-blue"><i class="fa fa-eye"></i> Home</a></td>
            <td><a href="/showmembers" class="btn btn-blue"><i class="fa fa-eye"></i> Show the Bastards</a></td>
            <td><a href="/deletemember" class="btn btn-blue"><i class="fa fa-trash-alt"></i> Delete the Bastards</a></td>
        </tr>

        <form th:action="@{/save}" method="post" th:object="${memberName}">
            <tr>
                <th>Name</th>
            </tr>
            <tr>
                <td><input type="text" name="name" ></td>
            </tr>
            <tr>
                <td>
                    <button class="btn"><i class="fa fa-keyboard"></i>  Add the Bastard</button>
                </td>
            </tr>
        </form>
    </table>
</body>
</html>