<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" rel="stylesheet" >
    <meta charset="UTF-8">
    <title>Track the Bastards</title>
</head>
<body>
<div>
    <h2>Home of the Evil</h2>
    <table>
        <tr>
            <td><a href="/showmembers" class="btn btn-success"><i class="fa fa-eye"></i> Show the Bastards</a></td>
            <td><a href="/addmembers" class="btn btn-success"><i class="fa fa-plus-circle"></i>Add the Bastards</a></td>
            <td><a href="/deletemember" class="btn btn-success"><i class="fa fa-trash-alt"></i>Delete the Bastards</a></td>
        </tr>
    </table>
</div>
</body>
</html>